.p-todo{
    border: solid black 1px;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    background-image: linear-gradient(to right, #87CEEB , #71FD9B);
    color: white;
    margin-top: 50px;
}


.p-todo input{
    width: 40%;
    margin: 20px auto;
    display: inline-block;
    background-image: linear-gradient(to right, #87CEEB , #71FD9B);
    border: 2px black solid;

}

.p-todo h1{
    margin-top: 20px;
}

.p-todo h5{
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



@media screen and (max-width: 600px) {
    
    .p-todo{
        width: 100%; 
        margin:none;
        border: none;
        height: max-content;
        margin-top: 0 !important;
    }


    .p-todo input{
        width: 90%;
        margin: 0;
    }

       

    .p-todo h5{
        margin-top: 49px;
        margin-right: 19px;
        font-size: 12px;
        color: black;
        font-weight: bold;
    }
  }