@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.App{
  font-family: 'Anton', sans-serif;
}

@media screen and (max-width: 600px) {
.App{
  height: 100vh;
  background-image: linear-gradient(to right, #87CEEB , #71FD9B);

}

}